CONFIG_STATIC=y
CONFIG_INSTALL_NO_USR=y
CONFIG_FEATURE_PREFER_APPLETS=y
CONFIG_FEATURE_SH_STANDALONE=y
CONFIG_SH_IS_ASH=y
CONFIG_BASH_IS_NONE=y
CONFIG_ASH=y
CONFIG_ASH_BASH_COMPAT=y
CONFIG_INIT=y
CONFIG_GETTY=y
CONFIG_MOUNT=y
CONFIG_MKDIR=y
CONFIG_MKNOD=y
CONFIG_CHMOD=y
CONFIG_LN=y
CONFIG_RM=y
CONFIG_CP=y
CONFIG_MV=y
CONFIG_LS=y
CONFIG_ECHO=y
CONFIG_CAT=y
CONFIG_SLEEP=y
CONFIG_TRUE=y
CONFIG_FALSE=y
CONFIG_TEST=y
CONFIG_TEST1=y
CONFIG_TEST2=y
CONFIG_EXPR=y
CONFIG_GREP=y
CONFIG_SED=y
CONFIG_HOSTNAME=y
CONFIG_IFCONFIG=y
CONFIG_FEATURE_IFCONFIG_BROADCAST_PLUS=y
CONFIG_FEATURE_IFCONFIG_HW=y
CONFIG_FEATURE_IFCONFIG_STATUS=y
CONFIG_IP=y
CONFIG_FEATURE_IP_ADDRESS=y
CONFIG_FEATURE_IP_LINK=y
CONFIG_FEATURE_IP_ROUTE=y
CONFIG_ARP=y
CONFIG_ROUTE=y
CONFIG_UDHCPC=y
CONFIG_KILL=y
CONFIG_PS=y
CONFIG_PIDOF=y
CONFIG_HEAD=y
CONFIG_TAIL=y
CONFIG_CUT=y
CONFIG_SORT=y
CONFIG_WC=y
CONFIG_TR=y
CONFIG_BASENAME=y
CONFIG_DIRNAME=y
CONFIG_READLINK=y
CONFIG_REALPATH=y
CONFIG_FIND=y
CONFIG_XARGS=y
CONFIG_DATE=y
CONFIG_UNAME=y
CONFIG_TOUCH=y
CONFIG_TAR=y
CONFIG_GZIP=y
CONFIG_GUNZIP=y
CONFIG_FEATURE_TAR_GNU_EXTENSIONS=y
CONFIG_FEATURE_GZIP_LONG_OPTIONS=y
CONFIG_MORE=y
