CONFIG_ARM64=y
CONFIG_ARM64_4K_PAGES=y
CONFIG_ARM64_VA_BITS=48
CONFIG_NR_CPUS=1
CONFIG_SMP=y
CONFIG_ARM_GIC=y
CONFIG_ARM_GIC_V2=y
CONFIG_ARM_ARCH_TIMER=y
CONFIG_ARM_PSCI_FW=y
CONFIG_SERIAL_AMBA_PL011=y
CONFIG_SERIAL_AMBA_PL011_CONSOLE=y
CONFIG_TTY=y
CONFIG_VT=y
CONFIG_VIRTUALIZATION=y
CONFIG_NET=y
CONFIG_INET=y
CONFIG_INET_DIAG=y
CONFIG_PACKET=y
CONFIG_PACKET_DIAG=y
CONFIG_UNIX=y
CONFIG_UNIX_DIAG=y
CONFIG_NETDEVICES=y
CONFIG_VIRTIO=y
CONFIG_VIRTIO_MENU=y
CONFIG_VIRTIO_MMIO=y
CONFIG_VIRTIO_MMIO_CMDLINE_DEVICES=y
CONFIG_VIRTIO_NET=y
# CONFIG_NETFILTER is not set
# CONFIG_NET_SCHED is not set
CONFIG_PROC_FS=y
CONFIG_SYSFS=y
CONFIG_TMPFS=y
CONFIG_SHMEM=y
CONFIG_DEVTMPFS=y
CONFIG_DEVMEM=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_RD_GZIP=y
CONFIG_BINFMT_ELF=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_PRINTK=y
CONFIG_PRINTK_TIME=y
CONFIG_BUG=y
CONFIG_PANIC_TIMEOUT=10
CONFIG_CMDLINE=""
CONFIG_CMDLINE_FROM_BOOTLOADER=y
CONFIG_DEFAULT_HOSTNAME="linux-vm"
